Repository AyhamJo7/Smart_Scraper, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration

.github/labeler.yml:

# Labeler configuration file
# This file specifies labels to apply to pull requests based on modified file paths.

# Label for frontend-related changes
frontend:
  - "ui/**"

# Label for backend-related changes
backend:
  - "src/**"
  - "app.py"

# Label for documentation changes
documentation:
  - "docs/**"
  - "*.md"

# Label for testing-related changes
tests:
  - "tests/**"

# Label for configuration changes
configuration:
  - ".github/**"
  - "Dockerfile"
  - "requirements.txt"
  - ".env.example"

Create stale.yml
  .github/workflows/stale.yml
Labels: configuration

Create SECURITY.md
  SECURITY.md
Labels: documentation

modified .gitignore + requirements.txt
  .gitignore
  requirements.txt
Labels: configuration

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

Create LICENSE
  LICENSE
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: configuration

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: configuration

Delete app.py
  app.py
Labels: backend

Edit Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: configuration

#Comments
  src/scraper/adaptive_parser.py
Labels: backend
